.card {
    background: #121212;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #444;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.1);
}

.head {
    font-size: 18px;
    font-weight: bold;
}

p {
    margin-top: 15px;
    font-size: 14px;
}

.foot {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.share,
.delete {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.share {
    background-color: #000000;
    color: white;
    border-radius:0.6rem;
    font-weight: 700;
}

.delete {
    background-color: #b62323;
    color: white;
    font-weight: 700;
   
}
.deletebox{
    background-color: #b62323;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    border-radius:0.6rem;
    padding: 10px;

}
.sharebox{
    margin-top: 20px;
    background-color: #000000;
    border: 1px solid rgb(62, 62, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:0.6rem;
    padding: 10px;

}