.main {
  display: flex;
  flex-direction: column;
  color: white;
  width: 80vw;
  background-color: rgb(0, 0, 0);
  padding: 40px;
  height: 100vh;
  form {
    display: flex;
    margin-top: 28px;
    flex-direction: column;
    gap: 1rem;
    input {
      color: white;
      background-color: black;
      padding: 30px;
      outline: none;
      border: 0.2px solid rgb(65, 65, 65);
      border-radius: 0.6rem;
    }
    button {
      background-color: #fffeff;
      color: rgb(0, 0, 0);
      padding: 1rem 2rem;
      cursor: pointer;
      border: none;
      font-weight: bold;
      border-radius: 0.4rem;
      font-size: 1rem;

      outline: none;
    }
  }
}
.container {
  border-radius: 0.6rem;
  border: 0.2px solid rgb(65, 65, 65);
  height: 150px;
  width: 520px;
  margin-top: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  .head {
    display: flex;
    justify-content: space-between;
  }
  .foot {
    display: flex;
    justify-content: space-between;
    button {
      color: rgb(255, 255, 255);
      padding: 0.7rem 20px;
      cursor: pointer;
      border: none;
      font-weight: bold;
      border-radius: 0.4rem;
    }
    .share {
      color: rgb(255, 255, 255);
      border: 1px solid rgb(65, 65, 65);
      border-radius: 0.7rem;
      background-color: black;
    }
    .delete {
      background-color: rgb(106, 16, 16);
    }
  }
  .body {
    margin: 3px 0px 3px 0px;
    height: 60px;
  }
}
.container2 {
  display: flex;
}
