h3{
    color:white;
}
p{
    color:white;
}
.main{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 20vw;
    padding: 20px;
    border-left: 1px solid rgb(83, 83, 83);
    
        a{
            text-decoration: none;
            color: white;
          border-radius: 10.6rem;
            .symbol{
                display: flex;
                gap:12px;
                
                cursor: pointer;
             padding: 15px;
                margin-top: 10px;
                &:hover{
                    background-color:  rgb(33, 33, 33);
                }
                p{
                    font-size: larger;
                }
        }
    }
}
.activate{
    background-color: rgb(42, 42, 42);
    border-radius: 0.4rem;
   
}
